
<div class="row">

<!--///// LEFT SIDE /////-->
<div class="one-half column">
	<div class="hero">
	</div>
</div>


<!--///// RIGHT SIDE /////-->
	<div class="one-half column">
		<div class="info">
			<div class="logo">
				<img src="assets/img/archive_logo_a.jpg" style="width: 80px">
			</div>

			<h1><strong>We Take Portraits Seriously.</strong></h1>

			<p>
				Thank you for visiting our temporary landing page. For portrait inquiries please fill out the form below. It's often said that a picture is worth a thousand words. Here at <strong><em>archive studio</em></strong> we strive for authentic and timeless portraiture. Portraits are our thing! Booking starts now but slots are available from June 1st 2016!
			</p>
			<address>
			Email us: <a href="mailto:info@archivestudio.io">info@archivestudio.io</a>.<br> 
			Or visit us at:<br>
			4485 Chesswood Dr<br>
			North York, ON M3J 2C3<br>
			</address>

			<!-- <button ng-click="ctrl.formBtn()" class="submit" type="button">INQUIRE</button> --></a>

		</div>
	</div>
</div>

<div class="row">
	<div class="one-quarter" ng-repeat="image in ctrl.instagram">
	<img ng-src="{{image}}">
	</div>
</div>

