
	<div class="row">
		<div class="hero-header">
			<div class="table-view">
				<div class="table-cell">
						<!-- <h1 class="hero-title">ARCHIVE STUDIO</h1> -->
					<div class="logo">
					<img src="assets/img/archive_logo_a.jpg" style="width: 100px">
				</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="info">
			<h2><strong><center>We Take Portraits Seriously.</center></strong></h2>
			<br>
			<p>
				We like to keep things simple here at Archive Studio. We believe in and value family and archiving that journey with timeless portraiture. In this modern and fast paced world it’s easy for moments and milestones to slip through the cracks of our busy schedules. Yes, most of us carry our phones with awesome cameras in our pockets. But how many of those photos get printed into a book or enlarged for the family room? We are here to make family portraits fun and easy.
			</p>
			<br>

			<h5>A message from the ceo:</h5>
			<p>
			I remember when I was young my parents would drag us to the local studio to get our family portraits done. At the time I found it totally tedious and boring. I didn’t see the point really. But today I look back at those photos and look at that yellow sweater I wore with my hair done a certain way and the memories flood in. The yellow sweater was my favourite to wear and my hair was done that certain way because I liked how it flattered my heart shaped face. When I look at that photo I’m suddenly 10 years old again and I remember how we were still living under one roof with my brothers room just a door down instead of at opposite ends of the globe. I totally get the warm fuzzies.
			<br>
			Those memories are what sparked my desire to open a space where families could come in to archive their life at that moment in time. As much as these photos are great to look at now, we are more excited about the thought of your children looking through these photos when they are your age!
			</p>
			<br>
				<p><em><center>For a limited time family portraits begin at $250.<br>For inquires please email info@archivestudio.io</center></em></p>
		</div>
	</div>

	

	<iframe height='800px' width='100%' frameborder='0' allowTransparency='true' scrolling='auto' src='http://tave.com/archivestudio-inline/'></iframe>

	<address>
	<a href="mailto:info@archivestudio.io">info@archivestudio.io</a>. | 4485 Chesswood Dr, North York, ON M3J 2C3
	</address>
	
	<div class="hero-footer">
	</div>











