<div class="momsandbabes">


	<div class="featured-image" style="text-align: center;">
		<img src="/assets/img/momsbabes/sarah-jack.jpg">
	</div>

	<div style="margin: 30px auto 50px; 
				width: 315px; 
				font-family: 'Didot W01 Roman'; 
				font-size: 12px; 
				line-height: 1.2em; 
				border-top: 1px solid #000; 
				padding-top: 20px; 
				text-align: center;">

		<h2>MOMS & BABES</h2>
		An mothers day event for moms.<br>
		Because moms are awesome.
	</div>

	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div style="float: left;
					text-align: justify;">
				<p>
					Thank you for coming to this special pop-up.  It is an event that is close to my heart.  The inspiration came about when I was looking through photos of Mercy (my daughter).  I realized how few of them included me and how even fewer of them I thought I looked good in.  
				</p>
				<p>
					I hope you enjoy yourself and feel pampered 
					because you deserve it.  My desire is that you will look back at these photos and remember the memories you have created with your babe. 
				</p>
				Because moms are awesome!
			</div>
		</div>

		<div class="col-xs-6 col-md-6">
			<div style="background-position: right center; 
						background-size: cover; 
						float: right;
						position: relative;
						background-image: url(/assets/img/momsbabes/dom-ayla.jpg);
						width: 400px;
						height: 400px;">
				<!-- <img src="/assets/img/momsbabes/dom-ayla.jpg" style="width: 350px; height: 400px;"> -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div style="background-position: right center; 
						background-size: cover; 
						margin: 0 auto;
						background-image: url(/assets/img/momsbabes/erin-mirae-40.jpg);
						position: relative;
						top: -120px;
						left: 30px;
						width: 400px;
						height: 600px;
						z-index: -1">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div style="background-position: center center; 
			background-size: cover; 
			position: relative;
			background-image: url(/assets/img/momsbabes/erin-mirae-10.jpg);
			width: 400px;
			height: 600px;"></div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div style="background-position: center center; 
			background-size: cover; 
			position: relative;
			background-image: url(/assets/img/momsbabes/jules-emma-06.jpg);
			width: 400px;
			height: 600px;"></div>
		</div>
	</div>

</div>





