<div class="momsandbabes">

		<div style="text-align: center;
		    background-position: top center;">
				<img src="/assets/img/momsbabes/sarah-jack.jpg" style="width:900px;">
		</div>

		<div style="margin: 30px auto 50px; 
					width: 315px; 
					font-family: 'Didot W01 Roman'; 
					font-size: 12px; 
					line-height: 1.2em; 
					border-top: 1px solid #000;
					text-align: center;">

			<h2>MOMS & BABES</h2>
			A mother's day event.<br>
			Because moms are awesome.
		</div>

	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div style="float: left;
					text-align: justify;">
				<p>
					Back by popular demand just in time for <span title="May 8th!">mothers day.</span> Only {{ ctrl.mothersDay }} days left! 2 Years ago we hosted a pop up photoshoot event for mothers and their wee ones. This mothers day we bring it back for you beautiful mothers because, lets be honest, I would like some photos of myself with my daughter. But, my phone is filled with photos of my husband and daughter *sad face* note to self; get husband a phone with more memory for photo ops of myself and child. 
				</p>
				<p>
					This time around the event will be hosted at my very own studio. Please inquire to book a spot and come 15 mins early to settle in and get your child comfortable. See below for time slots.
				</p>
				<p>
					Awesome possum.
				</p>
			</div>
		</div>

		<div class="col-xs-6 col-md-6">
			<div style="background-position: right center; 
						background-size: cover; 
						float: right;
						position: relative;
						background-image: url(/assets/img/momsbabes/dom-ayla.jpg);
						width: 400px;
						height: 400px;">
				<!-- <img src="/assets/img/momsbabes/dom-ayla.jpg" style="width: 350px; height: 400px;"> -->
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div style="background-size: cover; 
						margin: 0 auto;
						background-image: url(/assets/img/momsbabes/erin-mirae-40.jpg);
						position: relative;
						top: -120px;
						left: 30px;
						width: 400px;
						height: 600px;
						z-index: -1">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-6">
			<div style="background-position: center center; 
			background-size: cover; 
			position: relative;
			background-image: url(/assets/img/momsbabes/erin-mirae-10.jpg);
			width: 400px;
			height: 600px;"></div>
		</div>
		<div class="col-xs-6 col-md-6">
			<div style="background-position: center center; 
			background-size: cover; 
			position: relative;
			background-image: url(/assets/img/momsbabes/jules-emma-06.jpg);
			width: 400px;
			height: 600px;"></div>
		</div>
	</div>


	<div class="row" style="margin-bottom: 50px;">
		<div class="col-xs-4 col-md-4">
			<div style="background-position: center center; 
			background-size: cover; 
			position: relative;
			background-image: url(/assets/img/momsbabes/Yasmien.jpg);
			width: 350px;
			height: 250px;
			margin-top: 30px;
			z-index: -1"></div>
		</div>
		<div class="col-xs-4 col-md-4">
			<div style="background-position: center center; 
			background-size: cover; 
			position: relative;
			background-image: url(/assets/img/momsbabes/JHE-38.jpg);
			width: 300px;
			height: 450px;
			top: 120px;
    		left: 15px;"></div>
		</div>
		<div class="col-xs-4 col-md-4">
			<div style="background-position: bottom center; 
			background-size: 400px; 
			position: relative;
			background-image: url(/assets/img/momsbabes/sharon-everly.jpg);
			width: 300px;
			height: 450px;
			top: 350px;
    		left: -49px;
			z-index: -1;"></div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-8">
			<div style="z-index: 1;
				padding: 10px;
				position: relative;
				top: 100px;
				margin-bottom: 50px;
				width: 550px;">
			
					
					<table class="table table-schedule" style="background-color: white;">
						<tr>
							<th rowspan="8">
								<h4>EVENT DATES:</h4>
								<p>May 6 & 7.</p><br>
								<h4>PRICE:</h4>
								<p>One Babe $125<br>
								Two Babes $175
								</p><br>
								<!-- <h4>@:</h4> -->
								<p>@ 4485 Chesswood Ave<br>
								North York M3J 2C3</p>
								<button class="btn btn-default" ng-click="ctrl.formBtn()" 
								style="background-color: #e33b39;
								color: white;">Book Your Spot*</button>
							</th>
							<th>MAY 6<br>
							<em>friday</em></th></th>
							<th>MAY 7<br>
							<em>saturday</em></th></th>
						</tr>
						<tr>
							<td>9:00 am</td>
							<td>9:00 am</td>
						</tr>
						<tr>
							<td>10:30 am</td>
							<td>10:30 am</td>
						</tr>
						<tr>
							<td>12:30 pm</td>
							<td>12:30 pm</td>
						</tr>
						<tr>
							<td>2:00 pm</td>
							<td>2:00 pm</td>
						</tr>
						<tr>
							<td>3:30 pm</td>
							<td>3:30 pm</td>
						</tr>
						<tr>
							<td>-</td>
							<td>5:00 pm</td>
						</tr>
					</table>

					
					<p>* Please inform us of your <u>date</u>, <u>time selection</u> and <u>number of children</u> in the inquiry message form</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">

			<div style="background-color:#fff; border:1px solid #000; width: 900px; height: 900px; margin: 2px auto; text-align:center; position: relative; top: 100px; margin-bottom: 100px;">
				<div style="background-position: center -300px; 
							background-size: cover; 
							margin: 25px;
							background-image: url(/assets/img/momsbabes/JHE-43.jpg);
							position: relative;
							width: 850px;
							height: 850px;">
				</div>
			</div>
		</div>
	</div>


</div>





