<div class="container">

	<div style="margin: 30px auto 50px; 
						width: 315px; 
						font-family: 'Didot W01 Roman'; 
						font-size: 12px; 
						line-height: 1.2em; 
						border-top: 1px solid #000;
						text-align: center;">

				<h2>PRODUCTS & ARTISTS</h2>
				Yummy things for your home<br>
				lovingly curated in collaboration with local artists.
	</div>


	<section>
		<div class="row">
			<div class="col-sm-12 col-md-4">
				<div class="gallerywall-blurb">
					<h2>Gallery Wall</h2>
					<p>
						So you have some great images but now what? So much work is involved in getting a group of photos up on your wall. You have to pick your photos, print the photos, get the appropriate frames, place your photos into the frames, figure out the orientation of those frames and install them. Well, we can help you out with most of the above. We've put together a special package to help display your beautiful photos from Moms & Babes. This special package is only open to participants of the event! And there's a special gift included by a local Toronto artist (scroll down to find out more).
					</p>

					<ul class="products-ul">
						<h3>INCLUDED:</h3>

						<li>4 x Photos</li>
						<li>5 x Frames</li>
						<li>1 x Gift</li>
						<li>Lovelingly assembled by us!</li>
						<br>
						<li style="color: #Fd7771"><u>$120</u></li>
					</ul>
					<p>Want one? <a href="mailto:info@archivestudio.io?Subject=Gallery%20Wall" target="_top">Email us!</a></p>
				</div>
			</div>
				
			<div class="col-sm-12 col-md-8">
				<div class="gallerywall-img"></div>
				
			</div>
		</div>
	</section>


	<section class="featured-artist">
		
		<div class="featured-blurb">

			<div style="margin: 30px auto 50px; 
				width: 315px; 
				font-family: 'Didot W01 Roman'; 
				font-size: 12px; 
				line-height: 1.2em; 
				border-top: 1px solid white;
				text-align: center;">

				<h2>FEATURED ARTIST</h2>
				<a href="http://www.natalykim.com/shop/" target="_blank"><img src="../../assets/img/products/nataly-logo-white.png"></a>	
			</div>
		</div>	
		

		<div class="row">
				<div class="col-sm-6">
					<a href="http://www.natalykim.com/" target="_blank"><div class="featured-artist-img">
					</div></a>
				</div>

				<div class="col-sm-6">
					<div class="featured-artist-blurb">
						<h4>Hello!</h4>
						<br>
						<p>
							I am a Toronto based Illustrator + Surface Pattern Designer.  I graduated from the Illustration program at Sheridan College.  
						</p>
						<p>
							My work has a whimsical nature, which is inspired by my everyday surroundings.  I enjoy creating images that can relate to anyone and put a smile on their face.  My inner child comes out through my work and I hope it can do the same for anyone who views it.
						</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<a href="http://www.natalykim.com/#/postcards/" target="_blank"><div class="featured-artist-sample1">
					</div></a>
				</div>

				<div class="col-sm-6">
					<a href="http://www.natalykim.com/#/futz/" target="_blank"><div class="featured-artist-sample2">
					</div></div>
				</div>
			</div>
	</section>



</div>