<!DOCTYPE html>
<html>
<head>
	<title>Archive Studio</title>
	<!-- ANGULAR -->
	<script type="text/javascript" src="assets/js/angular.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
	<!-- JQUERY -->
	<script src="https://code.jquery.com/jquery-1.6.2.js"></script>

	<!-- JS -->
	<script src="app.js"></script>
	<script src="site/controllers/app.ctrl.js"></script>
	<script src="site/controllers/blog.ctrl.js"></script>
	


	<!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	<base href="/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

</head>


<body ng-app="myApp">

<section class="header grey-background" ng-controller="AppCtrl as ctrl">
	<div class="row">
		<div class="col-sm-6">
			<div class="header-right">
				<h5>A TORONTO PORTRAIT STUDIO</h5>
				<h2 class="header-date">{{ ctrl.today | uppercase }}</h2>
				
			</div>
		</div>
		<div class="col-sm-3">
			<div class="header-right header-menu">
				<ul>
					<li><a ng-click="ctrl.homeBtn()">HOME</a></li>
					<li><a ng-click="ctrl.formBtn()">INQUIRE</a></li>
					<li><a ng-click="ctrl.momsBabesBtn()">MOMS & BABES</a></li>
				</ul>
				
			</div>	
		</div>
		<div class="col-sm-3">
			<div class="header-quote">
				<quote>"Families are the compass that guide us. They are the inspiration to reach great heights, and our comfort when we occasionally falter." <br>- Brad Henry</quote>


				<ul>
					<li><a href="https://www.instagram.com/archive_studio/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="https://www.facebook.com/archivestudio.io" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
					<li style="float: right;"><a href="mailto:info@archivestudio.io"><i class="fa fa-envelope" aria-hidden="true"></i></a><li>
					<!-- <li><i class="fa fa-envelope-square" aria-hidden="true"></i></li> -->
				</ul>
			</div>
		</div>
	</div>


</section>

<div class="header-logo" ng-click="ctrl.homeBtn()" style="cursor: pointer;" ng-controller="AppCtrl as ctrl"><h1>ARCHIVE STUDIO</h1></div>

<div ui-view></div>

<section class="footer grey-background" ng-controller="AppCtrl as ctrl">
	<ul>
		<li><a ng-click="ctrl.homeBtn()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
	<!-- 	<li>ABOUT</li> -->
		<li><a ng-click="ctrl.formBtn()">INQUIRE</a></li>
		<li><a ng-click="ctrl.momsBabesBtn()">MOMS & BABES</a></li>
		<li style="float:right; font-size: 10px;">4485 CHESSWOOD DR, NORTH YORK, ON M3J 2C3</li>
	</ul>


		<hr>
		<p>All rights reserved © ARCHIVE STUDIO 2016 · Design & Development by Gee
</section>

</body>
</html>