/* highlight colour #Fd7771*/


html hr{
    border-top: 1px solid #6e6a67;
    opacity: 0.5;
}



/*FONTS*/
body h1 {font-family: didot;}
body h2 {font-family: proxima-nova;}
body h3 {font-family: didot;}
body h4 {font-family: avenir; color: #Fd7771;}
quote {
    font-size: 12px;
    font-style: italic;
}

/*GENERAL*/
/*.page-title{
    width: 20%;
}
*/


/*LINKS*/
html a{
    color: black;
    cursor: pointer;
}
html a:hover {
    text-decoration: none;
    color: #Fd7771;
}
html a:visited{
    text-decoration: none;
    color: #Fd7771;
}

/*HEADER*/

.header{
    padding: 30px;

}
.header-left{
    height: 170px;
    position: relative;
}
.header-left h3{
    margin-bottom: 120px;
}
.header-left h2{
    position: absolute;
    bottom: 10px;
}
.header-right ul, .products-ul{
    padding-top: 10px;
    list-style: none;
    text-align: right;
    font-size: 20px;
    font-family: didot;
}
.header-menu{
    padding-top: 10px;
    text-align: right;
    color: black;
}
.header-logo{
    text-align: center;
    font-size: 50px;
    font-family: didot;
    margin: 50px 0;
}
.header-logo h1{
    font-size: 70px;
}

.hero-header{
    background-image: url(../img/nataly_christian.jpg);
    background-position: center center;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    text-align: center;
}
.header-quote{
    padding: 18px 10px 0 10px;
}
.header-quote ul li {
    display: inline;
    margin-right: 7px;
    font-size: 24px;
    float: right;
}
.header-date{
    margin-top: 70px;
}


/*MID CONTENT*/
.content{
    margin: 50px 0;
}
.mid-content{
    padding: 40px;
    margin: 0 auto;
    width: 90%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #6e6a67;
}
.content-left{
    margin: 0 auto;
    padding: 20px;
}
.table{
    margin-top: 50px;
}
.table-home{
    text-align: left;
}
.content-right{
    padding: 20px;
    text-align: justify;
}










/*DECORATIVES*/
.slash-footer {
    height: 25px;
    background: url(../img/slash.png);
}
.grey-background {
    background: url(../img/grey-cube.jpg);
}
span {
    border-bottom: thin dotted;
}


/*INSTAGRAM*/
.instagram{
    width: 900px;
    margin: 0 auto;
}
.instagram img{
	width: 100%;
    margin-bottom: 60px;
    padding: 2px;
}
.instagram a:hover{
    opacity: 0.8;
}

/*BOOTSTRAP ADJUSTMENTS*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



/*PARTIALS*/

.form-blurb{
    text-align: center;
    margin: 0 auto;
    width: 600px;
}





/*MOMS AND BABES*/

.momsandbabes{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.table-schedule th, .table-schedule td{
    text-align: center;
    border: 1px solid #ddd;
}
.table-schedule {
    border-style: 1px solid #ddd;
    border-color: lightgrey;
}

.table-home th, .table-home td{
    text-align: left;
}




/* PRODUCTS */
.gallerywall-img{
    background-image: url(../img/products/gallery_wall.jpg);
    width: 100%;
    height: 900px;
    background-position: center left;
    background-size: cover;
}
.gallerywall-blurb{
    margin: 120px 0 6px 70px;
    z-index: -1;
}
.products-ul{
    /*padding-top: 10px;*/
    list-style: none;
    text-align: left;
    font-size: 20px;
    font-family: didot;
    padding-left: 0;
}

.featured-artist{
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #Fd7771;
    padding: 100px 50px;
}
.featured-artist-img{
    height: 300px;
    width: 100%;
    background-position: bottom center;
    margin: 0 auto;
    background-size: cover;
    margin-bottom: 30px;
}





.artist-one{
    background-image: url(../img/products/nataly.jpg);
}
.artist-two{
    background-image: url(../img/products/DONUTS.jpg);
}
.artist-three{
    background-image: url(../img/products/FUTZ+4.jpg);
}


.featured-blurb{
    color: white;
}
.featured-blurb p{
    text-align: center;
}
.featured-blurb img{
    height: 70px;
    display: inline;
    margin-left: 10px;
    text-align: center;
}

.featured-artist-blurb{
    height: 300px;
    background-color:#fff;
    /*border:1px solid #000;*/
    padding: 40px;
    margin-bottom: 30px;
}





/*FOOTER*/
.footer{
    padding: 15px 50px 10px 50px;
}

address{
    float: right;
    margin: 50px;
}
.footer p{
    text-align: right;
    color: darkgrey;
    font-size: 8px;
    margin-top: 80px;
}
.footer ul li{
    display: inline;
    margin-right: 30px;
    margin-top: 10px;
}



