
html hr{
    border-top: 1px solid #6e6a67;
    opacity: 0.5;
}



/*FONTS*/
body h1 {font-family: didot;}
body h2 {font-family: proxima-nova;}
body h3 {font-family: didot;}
body h4 {font-family: avenir;}
quote {
    font-size: 12px;
    font-style: italic;
}

/*LINKS*/
html a{
    color: #6e6a67;
    cursor: pointer;
}
html a:hover, html a:visited{
    text-decoration: none;
    color: #6e6a67;
}

/*HEADER*/

.header{
    padding: 30px;

}
.header-left{
    height: 170px;
    position: relative;
}
.header-left h3{
    margin-bottom: 120px;
}
.header-left h2{
    position: absolute;
    bottom: 10px;
}
.header-right ul{
    padding-top: 10px;
    list-style: none;
    text-align: right;
    font-size: 20px;
    font-family: didot;
}
.header-right{
    padding-top: 10px;
    text-align: right;
}
.header-logo{
    text-align: center;
    font-size: 50px;
    font-family: didot;
    margin: 50px 0;
}
.header-logo h1{
    font-size: 70px;
}

.hero-header{
    background-image: url(../img/jenn_dk.jpg);
    background-position: top center;
    margin: 0 auto;
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
    text-align: center;
}
.header-quote{
    padding: 18px 10px 0 10px;
}
.header-quote ul li {
    display: inline;
    margin-right: 7px;
    font-size: 24px;
    float: right;
}


/*MID CONTENT*/
.content{
    margin: 50px 0;
}
.mid-content{
    padding: 40px;
    margin: 0 auto;
    width: 90%;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #6e6a67;
}
.content-left{
    margin: 0 auto;
    padding: 20px;
}
.table{
    margin-top: 50px;
}
.table-home{
    text-align: left;
}
.content-right{
    padding: 20px;
    text-align: justify;
}










/*DECORATIVES*/
.slash-footer {
    height: 25px;
    background: url(../img/slash.png);
}
.grey-background {
    background: url(../img/grey-cube.jpg);
}
span {
    border-bottom: thin dotted;
}


/*INSTAGRAM*/
.instagram{
    width: 900px;
    margin: 0 auto;
}
.instagram img{
	width: 100%;
    margin-bottom: 60px;
    padding: 2px;
}

/*BOOTSTRAP ADJUSTMENTS*/
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}



/*PARTIALS*/

.form-blurb{
    text-align: center;
    margin: 0 auto;
    width: 600px;
}





/*MOMS AND BABES*/

.momsandbabes{
    width: 900px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.table-schedule td{
    text-align: center;
}
.table-home th, .table-home td{
    text-align: left;
}









/*FOOTER*/
.footer{
    padding: 15px 50px 10px 50px;
}

address{
    float: right;
    margin: 50px;
}
.footer p{
    text-align: right;
    color: darkgrey;
    font-size: 8px;
    margin-top: 80px;
}
.footer ul li{
    display: inline;
    margin-right: 30px;
    margin-top: 10px;
}



